﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#chat-section {
    height: 100%;
    width: 100%;
    position: fixed;
}

.left-column {
    border-right: 2px solid black;
    height: 100%;
    width: 200px;
    float: left;
}

.right-column {
    width: calc(100% - 200px);
    float: left;
    height: 100%;
}

.chat {
    height: 100%;
    position: relative;
}

    .chat .messages-wrapper {
        position: absolute;
        bottom: 41px;
        overflow: auto;
        width: 100%;
        max-height: calc(100% - 41px);
    }

.users {
    min-height: 175px;
    background: #ddd;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 200px);
}

    form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }

    form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*bottom: 41px;
    position: absolute;*/
}

    #messages li {
        padding: 5px 10px;
    }

        #messages li:nth-child(odd) {
            background: #eee;
        }
